.quoteContainer{
    height: 100%;
    width:20%;
    background-color: black;
    .price{
        height:80%;
        width:100%;
        font-size: 2vw;
        text-align: center;
        vertical-align: middle;
    }
}

.fullscreen-enabled .quoteContainer{
    .price{
        font-size:5vw;
    }
}
