.quoteContainer{
    height: 100%;
    width:20%;
    background-color: black;
    .name{
        height:20%;
    }
    .price{
        height:60%;
        width:100%;
        font-size: 2vw;
        text-align: center;
        vertical-align: middle;
    }
    .symobol{
        height:20%;
    }
}

.fullscreen-enabled .quoteContainer{
    .price{
        font-size:5vw;
    }
}
